<div
  [ngClass]="{'flex justify-center':playerIndex()%2==0,'absolute top-1/2 -translate-y-1/2':playerIndex()%2!=0,'right-8':playerIndex()==1,'left-8':playerIndex()==3,'mt-1':playerIndex()==0,'mt-2':playerIndex()==2}" class="">

    <div *ngFor="let c of player.cards"
      [ngStyle]="{'width':(playerIndex()%2==0?50:100)+'px','height':(playerIndex()%2==0?100:50)+'px'}">
      <div [ngClass]="{'rotation-wrapper-outer':playerIndex()%2!=0}">
        <div [ngClass]="{'rotation-wrapper-inner':playerIndex()%2!=0}" >

          <img [ngClass]="{'element-to-rotate':playerIndex()%2!=0}" class="hover:bg-slate-300" width="50px" (click)="play(c)"
            [src]="'./../../assets/img/'+c.face+'-'+c.tail+'.svg'">
        </div>
      </div>
  </div>
</div>
